@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Rubik';
    color: white;
    font-size: 200%;
}

.bg_covid {
    width: 100%;
    filter: blur(0.7rem);
}

.g {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    left: 5%;
}

.d {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    right: 5%;
}

.cas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.deces {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

header p {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}